<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="GitHubUsername" value="kikuyodev" />
        <add key="GitHubRepoName" value="kumi" />
        <add key="SolutionName" value="Kumi" />
        <add key="ProjectName" value="Kumi.Desktop" />
        <add key="NuSpecName" value="Kumi.Desktop/kumi.nuspec" />
        <add key="IncrementVersion" value="true" />
        <add key="GitHubUpload" value="true" />
        <add key="PackageName" value="kikuyodev.Kumi" />
        <add key="GitHubAccessToken" value="" />
        <add key="CodeSigningCertificate" value="" />
    </appSettings>
</configuration>